@charset "utf-8";
/* 아카이브 CSS - main.css */

html{
    scroll-behavior: smooth;
    /* #아이디명 스크롤 이동시 부드럽게 애니메이션 이동함 */
}

/* 상단영역 */
#top{
    position: fixed;
    width: 100%;
    /* 판타롱스타킹이므로 100%로 가로폭 확장! */
    top: 0;
    left: 0;
    height: 300px;
    /* 맨 위로 올리기 */
    z-index: 999;
}

/* gnb메뉴 */
.gnb{
    width: 600px;
    margin: 0 auto;
}
/* ul초기화 */
.gnb ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* li 옆으로 흐르기 */
.gnb li{
    float: left;
    text-align: center;
    width: 150px;
}

/* ul 박스 가상요소로 clear 처리 */
.gnb ul::after{
    content: '';
    display: block;
    clear: both;
}

.gnb a{
    font-size: 30px;
    color: lime;
    text-decoration: none;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000;

}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    /* 보이는 화면에 기준하여 높이값을 설정함
    ->직계 하위 자식요소가 높이값을 %로 설정할때 body가 기준이 된다 */
}

body{
    /* 패딩탑 pt */
    /* padding-top: 50px; */
}

/* 페이지박스 : div 블록박스 */
.mybox{
    width: 100%;
    height: 100%;
    /* 배경이미지넣기 bgi */
    background-image: url(../imgs/worksbg.jpg);
    /* 배경 반복 여부 bgr 반복안함(no-repeat) */
    background-repeat: no-repeat;
    /* 배경고정:bga - 고정의 기준은 보이는 화면 */
    background-attachment: fixed;
    /* 배경위치: bgp */
    background-position: center;
    /* 배경 크기 : 채우기 bgz */
    background-size: cover;
}

/* 두번째 페이지박스 */
.mbx2{
    background-image: url(../imgs/001.jpg);
}

.mbx3{
    background-image: url(../imgs/002.jpg);
}

.mbx4{
    background-image: url(../imgs/005.jpg);
}

/* 페이지별 컨텐츠 박스 */
.pwrap{
    background-color: rgba(255, 255, 255, 0.5);
    /* 둥근모서리 */
    border-radius: 20px;
    /* 가로중앙 */
    /* 마영오씨를 무대 중앙으로 */
    margin: 0 auto;
    /* 양쪽 마진이 auto면 양쪽을 등분해서 가로 중앙이 된다 */
    position: relative;
    top: 300px;
    /* 부모높이값 보다 300px 만큼 조금 더 그 크기를 뺀 높이값은 calc()로 계산한다! */
    height: calc(100% - 350px);
}

/* h1요소 */
.tit{
    /* 기본마진없앰 */
    margin: 0;
    /* 패딩 */
    padding: 20px;
    /* 글자 중앙 */
    text-align: center;
}

.part a{
    text-decoration: none;
}



