@charset "utf-8";

/* Robot PJ 미디어쿼리 CSS - robot.media.css */

/* 사이즈는 1024px 이하 */
@media screen and (max-width:1024px){
    /* 링크박스 */
    .link{
        top:40px;
    }
    /* 링크이동 버튼 */
    .link a{
        font-size: 35px;
    }
    /* 
        [기존 애니메이션 적용 요소 변경시]
        애니메이션을 없애고(none) 디자인을 변경한다!
        필요에 따라 애니메이션을 다시 설정한다!
     */
    /* 로고박스 */
    .logo{
    /* 애니메이션 없애기 */
    animation: none;
    top: 30px;
    left: 30px;
    transform: scale(1);
    width: 150px;
    height: 150px;
    font-size: 20px;
    }
    /* 로고 애니메이션 재설정 */
    .logo{
    animation: 
    logoAni2 .5s ease-in-out 3s infinite alternate;
    }
}
/* __________1024px 이하__________ */


/* 사이즈는 900px 이하 */
@media screen and (max-width:900px){
    /* 바디 양쪽여백 */
    .dcbx{
        padding: 0 30px;
    }
/* 2-2-3.내용단락 */
.dcbx p{
    /* 다중열개수 */
        column-count: 2;
    }
}
/* __________900px 이하__________ */


/* 사이즈는 500px 이하 */
@media screen and (max-width:500px){
    html, body{
        width: 100vw;
        /* x축 스크롤 없애기 */
        overflow-x: hidden;
        /* 보이는 화면 가로크기 채움 */
    }
/* 2-2-3.내용단락 */
.dcbx p{
    /* 다중열개수 */
        column-count: 1;
    }
.logo{
    animation: none;
    top: 90px;
    left: 30px;
    transform: scale(1);
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
}
/* 로고 애니메이션 재설정 */
.logo{
    animation: 
    logoAni2 .5s ease-in-out 3s infinite alternate;
}
.link{
position: static;
text-align: center;
padding: 20px  0;
}
}
/* __________500px 이하__________ */

