@charset "utf-8";
/* 파일럿 PJ 메인 CSS - main.css */

/* 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

html,
body {
  position: relative;
  height: 100%;
  overflow: visible;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* 배너박스  */
#ban{
    height: 100vh;
}

/* 스와이퍼 디자인 설정 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
